<launch>
    <!-- LEER PARAMETREOS DE COMPRESION DE config/compression_params.yaml -->
    <rosparam command="load" file="$(find img_compressor)/config/compression_params.yaml"/>

    <!-- DECLARAR EL NODO Y SUS PARAMETROS -->
    <node name="img_joiner_node" pkg="img_compressor" type="img_joiner_node_v2.py" output="screen" respawn="true" >
	
    	<!-- DIRECTORIO DE LA IMAGEN DESCOMPRIMIDA -->
    	<param name = "outdir" value = "/home/agusti/catkin_ws/src/cirtesu_common_python_img_compressor/scripts/decompressed_image"/>

	    <!-- REMAPEAR TOPICS -->
        <!-- <remap from = "compressed_image" to = "/turbot/burst_acoustic" /> -->
        <!-- <remap from = "compressed_image" to = "/xiroi/burst_acoustic" /> -->
        <!-- <remap from = "out" to = "/xiroi/decompressed_image_acoustic" /> -->

    </node>
</launch>
